@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Fehler";
}

<hgroup>
    <h1 class="text-error">Fehler</h1>
    <h2 class="text-error">Fehler bei der Verarbeitung Ihrer Anforderung.</h2>
</hgroup>
